################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/libs/HiveSpace.Core/bin/Debug/net8.0
/libs/HiveSpace.Core/obj
/libs/HiveSpace.Domain.Shared/obj
/libs/HiveSpace.Infrastructure.Messaging/obj
/libs/HiveSpace.Infrastructure.Persistence/obj
/libs/HiveSpace.Application.Shared/obj
/libs/HiveSpace.Application.Shared/bin/Debug/net8.0
/src/HiveSpace.IdentityService/HiveSpace.IdentityService.Application/obj
/src/HiveSpace.YarpApiGateway/bin/Debug/net8.0
/src/HiveSpace.YarpApiGateway/obj
/libs/HiveSpace.Infrastructure.EntityFrameworkCore/bin/Debug/net8.0
/libs/HiveSpace.Infrastructure.EntityFrameworkCore/obj
/libs/HiveSpace.Infrastructure.Messaging/bin/Debug/net8.0
/libs/HiveSpace.Infrastructure.Persistence/bin/Debug/net8.0
/src/HiveSpace.ApiGateway/HiveSpace.YarpApiGateway/bin/Debug/net8.0
/src/HiveSpace.ApiGateway/HiveSpace.YarpApiGateway/obj
/src/HiveSpace.IdentityService/HiveSpace.IdentityService.Domain/obj
/src/HiveSpace.IdentityService/HiveSpace.IdentityService.Infrastructure/obj
/src/HiveSpace.IdentityService/HiveSpace.IdentityService.Infrastructure/bin/Debug/net8.0
/src/HiveSpace.IdentityService/HiveSpace.IdentityService.Application/bin/Debug/net8.0
/src/HiveSpace.IdentityService/HiveSpace.IdentityService.Domain/bin/Debug/net8.0
/libs/HiveSpace.Domain.Shared/bin/Debug/net8.0
/src/HiveSpace.OrderService/HiveSpace.OrderService.Application/bin/Debug/net8.0
/src/HiveSpace.OrderService/HiveSpace.OrderService.Application/obj
/src/HiveSpace.OrderService/HiveSpace.OrderService.Domain/bin/Debug/net8.0
/src/HiveSpace.OrderService/HiveSpace.OrderService.Domain/obj
/src/HiveSpace.OrderService/HiveSpace.OrderService.Infrastructure/bin/Debug/net8.0
/src/HiveSpace.OrderService/HiveSpace.OrderService.Infrastructure/obj
/src/HiveSpace.OrderService/HiveSpace.OrderService.Presentation/obj
/src/HiveSpace.OrderService/HiveSpace.OrderService.Presentation/bin/Debug/net8.0
.idx
.vscode
docker
/src/HiveSpace.IdentityService/HiveSpace.IdentityService.Api/bin/Debug/net8.0
/src/HiveSpace.IdentityService/HiveSpace.IdentityService.Api/obj
test/HiveSpace.IdentityService/HiveSpace.IdentityService.UnitTests/obj
test/HiveSpace.IdentityService/HiveSpace.IdentityService.UnitTests/bin
test/HiveSpace.IdentityService/HiveSpace.IdentityService.FunctionalTests/obj
test/HiveSpace.IdentityService/HiveSpace.IdentityService.FunctionalTests/bin
/src/HiveSpace.OrderService/HiveSpace.OrderService.API/bin/Debug/net8.0
/src/HiveSpace.OrderService/HiveSpace.OrderService.API/obj
/src/HiveSpace.CatalogService/HiveSpace.CatalogService.API/obj
/src/HiveSpace.CatalogService/HiveSpace.CatalogService.Application/obj
/src/HiveSpace.CatalogService/HiveSpace.CatalogService.Domain/obj
/src/HiveSpace.CatalogService/HiveSpace.CatalogService.Infrastructure/obj
/src/HiveSpace.CatalogService/HiveSpace.CatalogService.API/bin/Debug/net8.0
/src/HiveSpace.CatalogService/HiveSpace.CatalogService.Application/bin/Debug/net8.0
/src/HiveSpace.CatalogService/HiveSpace.CatalogService.Domain/bin/Debug/net8.0
/src/HiveSpace.CatalogService/HiveSpace.CatalogService.Infrastructure/bin/Debug/net8.0
