################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj.user
*.vbproj.user

# Visual Studio
/.vs
.vscode

# Build artifacts
src/**/obj/
src/**/bin/Debug/net8.0/
libs/**/obj/
libs/**/bin/Debug/net8.0/
test/**/obj/
test/**/bin/

# Other
/preview
.idx
docker
