@page
@using HiveSpace.IdentityService.Api.Pages.ExternalLogin
@model HiveSpace.IdentityService.Api.Pages.ExternalLogin.Challenge

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>