@page
@model HiveSpace.UserService.Api.Pages.Account.Logout.Index

@{
    // This page performs logout and redirects to login, so this content should not be visible
}

<div class="text-center">
    <h2>Logging out...</h2>
    <p>You are being signed out. If you are not redirected automatically, <a href="/Account/Login">click here</a>.</p>
</div>