@*  
    Auth Page End Structure - Closes the auth container and adds the right section
    This should be used after the form content in authentication pages
*@

</div>
</div>
</div>

@* Right side - Reusable branding section *@
@await Html.PartialAsync("_AuthRightSection")
</div>
</div>
@* End Auth Container *@