@*  
    Auth Right Section Partial - Reusable branding/decorative section for all authentication pages
    Contains the logo and decorative grid patterns
*@

<div class="auth-right-section relative">
    <div class="absolute right-0 top-0 w-full max-w-[250px] xl:max-w-[450px]">
        <img src="/images/shape/grid-01.svg" alt="grid">
    </div>
    <div class="absolute bottom-0 left-0 w-full max-w-[250px] rotate-180 xl:max-w-[450px]">
        <img src="/images/shape/grid-01.svg" alt="grid">
    </div>
    <div class="items-center justify-center flex">
        <div class="flex flex-col items-center max-w-xs">
            <a href="/" class="block mb-4">
                <img width="462" height="96" src="/images/logo/auth-logo.svg" alt="Logo">
            </a>
        </div>
    </div>
</div>