@page
@model HiveSpace.UserService.Api.Pages.Index

@{
    // This page redirects to login, so this content should not be visible
}

<div class="text-center">
    <h2>Redirecting to Login...</h2>
    <p>If you are not redirected automatically, <a href="/Account/Login">click here</a>.</p>
</div>