name: Trigger auto deployment for ca-hivespace-user-svc-dev

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ master ]
    paths:
    - '**'
    - '.github/workflows/ca-hivespace-user-svc-dev-AutoDeployTrigger-910ae2b0-82e6-477b-8ec1-79f25fafe779.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.CAHIVESPACEUSERSVCDEV_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.CAHIVESPACEUSERSVCDEV_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.CAHIVESPACEUSERSVCDEV_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: acrhivespace.azurecr.io
          registryUsername: ${{ secrets.CAHIVESPACEUSERSVCDEV_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.CAHIVESPACEUSERSVCDEV_REGISTRY_PASSWORD }}
          containerAppName: ca-hivespace-user-svc-dev
          resourceGroup: rg-hivespace-dev
          imageToBuild: acrhivespace.azurecr.io/ca-hivespace-user-svc-dev:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


